@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gradient {
    border: 4px solid;
  }
}

@layer components {
  .popup {
    @apply absolute inset-0 flex items-center justify-center bg-gradient-to-r from-blue-500 to-green-500 text-white text-xs md:text-sm lg:text-lg p-2 rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }
}

:root {
  --bg-color-dark: #1c1e21;
  --text-color-dark: #ffffff;
  --primary-color-dark: #3b3d3f;
  --secondary-color-dark: #2c2f33;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}